<!DOCTYPE html>
<html lang="es">
<%-include("./partials/head")%>
<body>
<%-include("./partials/header")%>
<main class="container error">
  
  <article>    

    <h1><%= data.titulo ? data.titulo : "Error"%></h1>
    
    <p><%= data.detalle ? data.detalle : ""%></p>

  </article>

</main>
<%-include("./partials/footer")%>
<%-include("./partials/foot")%>
</body>
</html>